#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: end;
}

#header-img {
    width: 300px;
}


#nav-bar>ul {
    display: flex;
    list-style: none;
}

#nav-bar>ul>li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

#nav-bar>ul>li>a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

body{
    background-color: lightgrey;
}

@media screen and (max-width:600px){
    .columen1 h1{
        font-size: 35px;
    }
    .row
    {
        flex-direction: column;
    }
    .row .columen1{
        padding: 30px;
    }
}